body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

p {
  font-size: 14px;
  font-weight: 400;
  color: #666;
  margin-bottom: 15px;
}

.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

button {
  background-color: #4CAF50;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #387d3b;
}

#lastCleared {
  margin-top: 20px;
  font-weight: 600;
}
